<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-danger">Error en el registro</h1>
                    <p class="card-text">Lo sentimos, ha ocurrido un error durante el proceso de registro. Por favor,
                        inténtalo nuevamente más tarde.</p>
                </div>
            </div>
        </div>
    </div>
</div>