<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-danger">Error en el inicio de sesión</h1>
                    <p class="card-text">Lo sentimos, tu intento de inicio de sesión ha fallado. Por favor, verifica tus
                        credenciales e intenta nuevamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>