<div class="container">
    <div id="content" class="row"></div>
    <div class="row my-5">
        <div class="col-md-6">
            <h2>Agregar Producto</h2>
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="description">
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="thumbnail">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="number" class="form-control" id="price">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoría</label>
                <input type="text" class="form-control" id="category">
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <input type="text" class="form-control" id="code">
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock">
            </div>
            <select name="status" id="status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <input type="button" class="btn btn-primary" id="btnAgregarProducto" value="Agregar (+)">
        </div>
        <div class="col-md-6">
            <h2>Eliminar Producto</h2>
            <div class="mb-3">
                <label for="id" class="form-label">#Id del Producto</label>
                <input type="number" class="form-control" id="id">
            </div>
            <input type="button" class="btn btn-primary" id="btnEliminarProducto" value="Eliminar (-)">
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/main.realTimeProducts.js"></script>